<a href="https://colab.research.google.com/github/pavan-kalam/PDS/blob/main/ICP_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

2.2.2

Loading the Sacramento Housing Data

In [4]:
# Load the dataset
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

### **1. To find number of columns in the data frame**

In [7]:
df.shape[1]

12

If we want to find number of rows, replace the above code of line to 'df.shape[0]'.

### **2. To find the mean of the house prices**
Here price is the column in a housing data frame.

In [8]:
df['price'].mean()

234144.26395939087

### **3. To find the median of the house prices**

In [9]:
df['price'].median()

213750.0

In [10]:
df.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object

### **4. To find different types of property in the dataset**
Here 'type' column has different types of properties.

In [11]:
df['type'].unique()

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)


   
If we want to get the property types in list format.

In [12]:
df['type'].unique().tolist()

['Residential', 'Condo', 'Multi-Family', 'Unkown']

To get property types and their counts in a dictionary.

In [13]:
df['type'].value_counts().to_dict()

{'Residential': 917, 'Condo': 54, 'Multi-Family': 13, 'Unkown': 1}

### **5. To find maximum price of a 'condo' in the dataset**

In [14]:

# Maximum price of a "condo" in the dataset
df[df['type'] == 'Condo']['price'].max()

360000

Or we can write the same as below, even we can get the same result.

In [15]:
df[df['type'] == 'Condo'].sort_values('price', ascending=True)['price'].iloc[-1]

360000

### **6. To find the mean of each type of property in the dataset.**

In [16]:
df.groupby('type')['price'].mean()

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

Or we can get the same result by using aggregate function.

In [17]:
df.groupby('type').agg({'price': 'mean'})

                      price
type
Condo         150082.185185
Multi-Family  224534.692308
Residential   239186.162486
Unkown        275000.000000

### **7. To count different property types in the dataset**

In [18]:
df['type'].value_counts()

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64

Also, we can get the same result using aggregate function,

In [19]:
df.groupby('type').agg(count=('type', 'size'))

              count
type
Condo            54
Multi-Family     13
Residential     917
Unkown            1